@import url(https://fonts.googleapis.com/css?family=Inconsolata);

@font-face {
  font-family: "Pattaya";
  src: url(../fonts/Pattaya-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "Inconsolata";
}

html {
  scroll-behavior: smooth;
}

/* header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  padding: 30px 10px;
  width: 100%;
  transition: 0.7s;
  z-index: 10;
}

header.abajo {
  background: #fff;
  padding: 15px 20px;
  box-shadow: 0px 0px 30px -5px #cccc;
}

header.abajo .logo,
header.abajo ul li a {
  color: #000;
} */

nav img {
  max-width: 200px;
  height: 100px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-height: 8vh;
  z-index: 1000;
  transition: 0.7s;
  position: fixed;
  width: 100%;
}

nav.abajo {
  background: #fff;
  box-shadow: 0px 0px 30px -5px #cccc;
}

nav.abajo .enlaces-menu li a,
nav.abajo .enlaces-menu .car_shooping {
  color: #000;
}

.ham {
  display: none;
  background-color: transparent;
  cursor: pointer;
  border: none;
  margin: 0;
  padding: 0;
}

.ham span {
  background-color: #f3f3f3;
  display: block;
  height: 3px;
  width: 28px;
  margin: 10px auto;
  border-radius: 2px;
}
.enlaces-menu {
  display: flex;
  padding: 0;
}
.enlaces-menu li {
  padding: 0 40px;
  list-style-type: none;
  transition: 0.3s;
}

.enlaces-menu li a {
  text-decoration: none;
  font-size: 1.8rem;
  color: #f3f3f3;
  font-weight: 600;
}

/* Animaciones */

@keyframes muestraMenu {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.enlaces-menu.activado {
  display: flex;
  animation: muestraMenu 350ms ease-in-out both;
}

.br-1.animado {
  transform: rotate(-45deg) translate(-10px, 8px);
}

.br-2.animado {
  opacity: 0;
}
.br-3.animado {
  transform: rotate(45deg) translate(-10px, -8px);
}

.ham.girar:hover {
  transform: rotate(360deg);
}

video {
  width: 100%;
}

header.abajo .logo {
  width: 100px;
  transition: 0.5s ease-out;
}

.logo {
  width: 200px;
}

.enlace:before {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  height: 4px;
  width: 100%;
  border-bottom: 4px solid transparent;
  border-left: 4px solid transparent;
  box-sizing: border-box;
  transform: translateX(100%);
  z-index: -1;
}

.enlace:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 4px;
  border-top: 4px solid transparent;
  border-right: 4px solid transparent;
  box-sizing: border-box;
  transform: translateX(-100%);
  z-index: -1;
}

.enlace:hover:before {
  border-color: #e6e6e6;
  height: 100%;
  transform: translateX(0);
  transition: 0.2s transform linear, 0.3s height linear 0.3s;
}

.enlace:hover:after {
  border-color: #e6e6e6;
  height: 100%;
  transform: translateX(0);
  transition: 0.2s transform linear, 0.3s height linear 0.5s;
}

.enlaces-menu .car_shooping {
  color: #fff;
  margin-top: 1%;
}

header.abajo .nav-list i {
  color: #000;
}

header.abajo .li_menu:hover:before,
header.abajo .li_menu:hover:after {
  border-color: #3586ff;
}

.abrir-menu,
.cerrar-menu {
  display: none;
}

.mostrarModal {
  max-width: 1120px;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

.count-products {
  position: absolute;
  top: 32%;
  right: 10.6%;
  background-color: rgb(226, 43, 43);
  color: #fff;
  width: 15px;
  height: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

#contador-productos {
  font-size: 12px;
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  background-color: #fff;
  width: 100%;
  max-width: 350px;
  height: 100vh;

  visibility: hidden;
  opacity: 0;
  transform: translateX(100%);
  transition: all 0.35s ease-in;

  z-index: 20000;
}

.modal::after {
  position: fixed;
  top: 0;
  right: 350px;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 999;
  opacity: 0;
  content: "";
  pointer-events: none;
  transition: all 0.35s ease-in;
}

.modal.active {
  visibility: visible;
  opacity: 1;
  transform: none;
}

.modal.active::after {
  opacity: 1;
  pointer-events: auto;
}
.modal__container {
  height: 100%;
  padding: 30px;
  position: relative;
  z-index: 1000;
}

.modal__close {
  position: absolute;
  left: -50px;
  top: 20px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgb(216, 62, 62);
  color: #fff;
  border: none;
  font-size: 18px;
  cursor: pointer;
}

.modal__info {
  display: flex;
  flex-flow: column;
  height: 90%;
  overflow: hidden;
}

.modal__header {
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: 1px solid #808080;
}

.modal__header h2 {
  font-size: 24px;
  color: #000;
  font-weight: 600;
}

.modal__header h2 i {
  margin-right: 10px;
}

.modal__body {
  position: relative;
  overflow-x: hidden;
  overflow-y: visible;
  width: 100%;
  flex-grow: 1;
}

.modal__item {
  display: flex;
  align-items: center;
}

.modal__item + .modal__item {
  margin-top: 20px;
}

.modal__thumb {
  width: 80px;
}

.modal__thumb img {
  width: 80px;
}

.modal__text-product {
  width: calc(100% - 80px);
  padding-left: 20px;
}

.modal__text-product p strong {
  color: #808080;
  margin-top: 6px;
}

.modal__footer {
  padding-top: 30px;
  margin-top: 20px;
  border-top: 1px solid #808080;
}

.modal__list-price ul li + li {
  margin-top: 10px;
}

.modal__list-price ul li strong {
  color: #000;
}

.modal__total-cart {
  font-size: 20px;
  color: #000;
  margin: 20px 0;
}

.modal__btns {
  padding-top: 30px;
  border-top: 1px solid #808080;
}

.modal__btns a + a {
  margin-top: 15px;
}

.modal-activo {
  overflow: hidden;
}

.fa-x:hover {
  color: red;
  cursor: pointer;
}

.cantidad_productos {
  font-size: 20px;
  margin-right: 10px;
}
.btn-border,
.btn-primary {
  width: 240px;
  height: 48px;
  line-height: 48px;
  outline: 0;
  display: inline-block;
  border-radius: 25px;
  cursor: pointer;
  padding: 0 20px;

  text-decoration: none;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  text-align: center;
}

.btn-border {
  border: 2px solid #3586ff;
  color: #3586ff;
  background-color: transparent;
}

.btn-border:hover {
  background-color: #3586ff;
  border-color: #fff;
  color: #fff;
}

.btn-primary {
  background-color: #3586ff;
  color: #fff;
}

.container {
  z-index: 2;
  position: absolute;
  top: 36%;
  left: 10%;
}

.titulo {
  font-size: 40px;
  color: #e6e6e6;
}

.encabezado {
  color: #e6e6e6;
  font-size: 20px;
  width: 800px;
  font-family: "Pattaya";
  text-shadow: 15px 15px 15px #000000;
}

.videoPrincipal {
  display: flex;
  justify-content: center;
}

.aviso_productos {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 44%;
}
.aviso_productos h2 {
  font-size: 30px;
  color: #fff;
  font-family: "Inconsolata";
}

.aviso_productos i {
  color: #fff;
  font-size: 50px;
  margin-top: 4%;
  cursor: pointer;
}

.uiverse {
  position: relative;
  background: #ffffff;
  color: #000;
  padding: 15px;
  margin: 10px;
  border-radius: 10px;
  width: 90px;
  height: 25px;
  font-size: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  margin-top: 10%;
}

.tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background: #ffffff;
  color: #ffffff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background: #ffffff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.uiverse:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

svg:hover span,
svg:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.uiverse:hover,
.uiverse:hover .tooltip,
.uiverse:hover .tooltip::before {
  background: linear-gradient(320deg, #808080, #808070);
  color: #ffffff;
}

.share {
  display: flex;
  flex-direction: row;
  gap: 1em;
  transition: 0.4s ease-in-out;
  margin-top: 15%;
}

.btn1 {
  position: relative;
  width: 3em;
  height: 3em;
  outline: none;
  border: none;
  border-radius: 50%;
  background-color: white;
  transition: 0.4s all;
}

.btn1 .instagram {
  margin-top: 0.1em;
  fill: #cc39a4;
}

.btn1 .tooltiptext1 {
  visibility: hidden;
  width: 6em;
  height: 8em;
  background-color: whitesmoke;
  color: black;
  text-align: center;
  border-radius: 10px;
  padding: 1em;
  position: absolute;
  left: -1.5em;
  top: -8em;
  z-index: 1;
  transition: 0.1s ease-in-out;
}

.btn1 .tooltiptext1 .card {
  width: 4em;
  height: 4em;
  background-color: white;
}

.btn1 .tooltiptext1 .account {
  margin-top: 1em;
  margin-left: 50%;
}

.btn1 .tooltiptext1 .username {
  font-size: 1em;
  margin-top: 1.6em;
  font-weight: bold;
}

.btn1:hover .tooltiptext1 {
  transform: translateY(-1em);
  visibility: visible;
}

.btn1:hover {
  background-color: #cc39a4;
}

.btn1:hover .instagram {
  fill: white;
}

.btn2 {
  position: relative;
  width: 3em;
  height: 3em;
  outline: none;
  border: none;
  border-radius: 50%;
  background-color: white;
  transition: 0.4s all;
}

.btn2 .whatsapp {
  margin-top: 0.25em;
  margin-left: 0.1em;
  color: #2bd46a;
  font-size: 21px;
}

.btn2 .tooltiptext2 {
  visibility: hidden;
  width: 6em;
  height: 8em;
  background-color: whitesmoke;
  color: black;
  text-align: center;
  border-radius: 10px;
  padding: 1em;
  position: absolute;
  left: -1.5em;
  top: -8em;
  z-index: 1;
  transition: 0.1s ease-in-out;
}

.btn2 .tooltiptext2 .card {
  width: 4em;
  height: 4em;
  background-color: white;
}

.btn2 .tooltiptext2 .account {
  margin-top: 1em;
  margin-left: 50%;
}

.btn2 .tooltiptext2 .username {
  font-size: 1em;
  margin-top: 1.6em;
  font-weight: bold;
}

.btn2:hover .tooltiptext2 {
  transform: translateY(-1em);
  visibility: visible;
}

.btn2:hover {
  background-color: #2bd46a;
  color: #fff;
}

.btn2:hover .icon-tabler-brand-whatsapp {
  fill: white;
}

.btn3 {
  position: relative;
  width: 3em;
  height: 3em;
  outline: none;
  border: none;
  border-radius: 50%;
  background-color: white;
  transition: 0.4s all;
}

.btn3 .tooltiptext3 {
  visibility: hidden;
  width: 6em;
  height: 8em;
  background-color: whitesmoke;
  color: black;
  text-align: center;
  border-radius: 10px;
  padding: 1em;
  position: absolute;
  left: -1.5em;
  top: -8em;
  z-index: 1;
  transition: 0.1s ease-in-out;
}

.btn3 .tooltiptext3 .card {
  width: 4em;
  height: 4em;
  background-color: white;
}

.btn3 .tooltiptext3 .account {
  margin-top: 1em;
  margin-left: 50%;
}

.btn3 .tooltiptext3 .username {
  font-size: 1em;
  margin-top: 1.6em;
  font-weight: bold;
}

.btn3:hover .tooltiptext3 {
  transform: translateY(-1em);
  visibility: visible;
}

.btn3:hover {
  background-color: #009988;
}

.btn3:hover .icon-tabler-brand-facebook {
  fill: white;
}

.container_productos,
.container_restaurante {
  display: flex;
  justify-content: center;
  margin-top: 3%;
  flex-direction: column;
  align-items: center;
}

.productos {
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
  display: grid;
  place-items: center;
}
.titulo_productos,
.titulo_restaurante,
.titulo_quehacemos {
  font-size: 30px;
  color: #000000;
  padding: 10px 100px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 5%;
  text-align: center;
}

.card_producto {
  width: 300px;
  height: 450px;
  border-radius: 30px;
  background: #ffffff;
  box-shadow: 15px 15px 30px #bebebe, -15px -15px 30px #bebebe;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.nombre_producto {
  font-size: 8px;
  text-align: center;
}

.precio_producto {
  margin-top: 5%;
}

article {
  position: relative;
  width: 200px;
  transition: all 0.3s ease;
  margin-top: 2%;
}

article img:first-child {
  box-shadow: 0 60px 60px -60px rgba(0, 30, 255, 0.5);
  border-radius: 4px;
  object-fit: cover;
  width: 200px;
  height: 260px;
}

article img:last-child {
  position: absolute;
  width: 200px;
  height: 200px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  transform: translateY(25%);
  transition: 0.3s ease;
  opacity: 0;
}

article:hover {
  transform: perspective(250px) rotateX(10deg) translateY(-5%) translateZ(0);
}

article::before {
  content: "";
  position: absolute;
  bottom: 0;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(
    to bottom,
    transparent 10%,
    rgba(255, 255, 255, 0.5) 50%,
    rgb(255, 255, 255) 95%
  );
  opacity: 0;
  transition: all 0.3s ease;
}

article:hover::before {
  opacity: 1;
}

article:hover img:last-child {
  opacity: 1;
  transform: translateY(10%);
}

/* .card_producto img {
  width: 200px;
  height: 200px;
  border: 1px solid #cccccc86;
  padding: 20px;
  margin-top: 4%;
} */

.informacion_producto {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.button {
  --width: 100px;
  --height: 35px;
  --tooltip-height: 35px;
  --tooltip-width: 90px;
  --gap-between-tooltip-to-button: 18px;
  --button-color: #808080;
  --tooltip-color: #fff;
  width: var(--width);
  height: var(--height);
  background: var(--button-color);
  position: relative;
  text-align: center;
  border-radius: 0.45em;
  font-family: "Arial";
  transition: background 0.3s;
  margin-top: 8%;
}

.button::before {
  position: absolute;
  content: attr(data-tooltip);
  width: var(--tooltip-width);
  height: var(--tooltip-height);
  background-color: #808080;
  font-size: 0.9rem;
  color: #fff;
  border-radius: 0.25em;
  line-height: var(--tooltip-height);
  bottom: calc(var(--height) + var(--gap-between-tooltip-to-button) + 10px);
  left: calc(50% - var(--tooltip-width) / 2);
}

.button::after {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-top-color: #808080;
  left: calc(50% - 10px);
  bottom: calc(100% + var(--gap-between-tooltip-to-button) - 10px);
}

.button::after,
.button::before {
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
}

.text {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-wrapper,
.text,
.iconn {
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  color: #fff;
}

.text {
  top: 0;
}

.text,
.iconn {
  transition: top 0.5s;
}

.iconn {
  color: #fff;
  top: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.iconn svg {
  width: 24px;
  height: 24px;
}

.button:hover {
  background: #808080;
}

.button:hover .text {
  top: -100%;
}

.button:hover .iconn {
  top: 0;
}

.button:hover:before,
.button:hover:after {
  opacity: 1;
  visibility: visible;
}

.button:hover:after {
  bottom: calc(var(--height) + var(--gap-between-tooltip-to-button) - 20px);
}

.button:hover:before {
  bottom: calc(var(--height) + var(--gap-between-tooltip-to-button));
}

.c-button {
  color: #000;
  font-weight: 700;
  font-size: 16px;
  text-decoration: none;
  padding: 0.9em 1.6em;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  z-index: 1;
}

.c-button--gooey {
  color: #808080;
  text-transform: uppercase;
  letter-spacing: 2px;
  border: 4px solid #808080;
  border-radius: 0;
  position: relative;
  transition: all 700ms ease;
}

.c-button--gooey .c-button__blobs {
  height: 100%;
  filter: url(#goo);
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  bottom: -3px;
  right: -1px;
  z-index: -1;
}

.c-button--gooey .c-button__blobs div {
  background-color: #808080;
  width: 34%;
  height: 100%;
  border-radius: 100%;
  position: absolute;
  transform: scale(1.4) translateY(125%) translateZ(0);
  transition: all 700ms ease;
}

.c-button--gooey .c-button__blobs div:nth-child(1) {
  left: -5%;
}

.c-button--gooey .c-button__blobs div:nth-child(2) {
  left: 30%;
  transition-delay: 60ms;
}

.c-button--gooey .c-button__blobs div:nth-child(3) {
  left: 66%;
  transition-delay: 25ms;
}

.c-button--gooey:hover {
  color: #fff;
}

.c-button--gooey:hover .c-button__blobs div {
  transform: scale(1.4) translateY(0) translateZ(0);
}
.products-preview {
  z-index: 30;
  position: fixed;
  top: 0;
  left: 0;
  min-height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: none;
  align-items: center;
  justify-content: center;
}
.products-preview .preview {
  display: none;
  padding: 2rem;
  text-align: center;
  background: #fff;
  position: relative;
  margin: 2rem;
  width: 100rem;
}

.products-preview .preview.active {
  display: inline-block;
}

.products-preview .preview img {
  height: 30rem;
  float: left;
  border: 1px solid #ccc;
  margin-right: 30px;
  transition: 0.5s;
  cursor: pointer;
}

.preview img:hover {
  transform: scale(1.1);
}

.products-preview .preview .fa-times {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
  cursor: pointer;
  color: #444;
  font-size: 2rem;
}

.preview .fa-times:hover {
  color: red;
}

.products-preview .preview h3 {
  color: #444;
  padding: 0.5rem 0;
  font-size: 2.5rem;
}

.anadirMas {
  display: flex;
  margin-top: 6%;
}

.anadirMas input {
  border: none;
  font-size: 20px;
  text-align: center;
  width: 20px;
}

.anadirMas i {
  border: 1px solid #ccc;
  padding: 3px;
  cursor: pointer;
  color: #3586ff;
}

.cart-empty {
  padding: 20px;
  text-align: center;
  font-size: 20px;
}

input:focus {
  outline: none;
}

.preview p {
  line-height: 1.5;
  padding: 1rem 0;
  font-size: 1.6rem;
  color: #777;
}

.preview .price {
  padding: 1rem 0;
  font-size: 2.5rem;
  color: #000;
}

.products-preview .preview .buttons {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  margin-top: 7rem;
}

.products-preview .preview .buttons a {
  flex: 1 1 16rem;
  padding: 1rem;
  font-size: 1.8rem;
  color: #3586ff;
  border: 0.1rem solid #3586ff;
}

.products-preview .preview .buttons a.cart {
  background: #3586ff;
  color: #fff;
}

.products-preview .preview .buttons a.cart:hover {
  background: #3586ff;
}

.products-preview .preview .buttons a.buy:hover {
  background: #3586ff;
  color: #fff;
}

.container_restaurante {
  margin-top: 5%;
}

.titulo_restaurante {
  text-align: center;
}

.book {
  position: relative;
  border-radius: 10px;
  width: 300px;
  height: 370px;
  background-color: #ffffff;
  -webkit-box-shadow: 1px 1px 12px #bebebe;
  box-shadow: 15px 15px 30px #bebebe, -15px -15px 30px #bebebe;
  -webkit-transform: preserve-3d;
  -ms-transform: preserve-3d;
  transform: preserve-3d;
  -webkit-perspective: 2000px;
  perspective: 2000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #000;
}

.book .logo_comida {
  position: absolute;
  z-index: -1;
  width: 150px;
  height: 100px;
  display: flex;
  bottom: 0;
  right: 0;
}

.book h1 {
  color: #808080;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
}

.menu_comida {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.menu_comida p {
  font-size: 20px;
  color: #000;
  margin-top: 3%;
}

.comidas {
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
  display: grid;
  place-items: center;
  animation: slide-up 1000ms forwards;
}

.precio {
  margin-top: 20%;
  font-weight: 500;
  border-bottom: 1px solid #ccc;
}

.precio_comida {
  font-size: 20px;
}

.menu_comida .Btn {
  width: 130px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #808080;
  border: none;
  color: rgb(255, 255, 255);
  font-weight: 600;
  gap: 8px;
  cursor: pointer;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.103);
  position: relative;
  overflow: hidden;
  transition-duration: 0.3s;
  margin-top: 10%;
}

.menu_comida .svgIcon {
  width: 16px;
}

.menu_comida .svgIcon path {
  fill: white;
}

.menu_comida .Btn::before {
  width: 130px;
  height: 130px;
  position: absolute;
  content: "";
  background-color: #1f1f1f;
  border-radius: 50%;
  left: -100%;
  top: 0;
  transition-duration: 0.3s;
  mix-blend-mode: difference;
}

.menu_comida .Btn:hover::before {
  transition-duration: 0.3s;
  transform: translate(100%, -50%);
  border-radius: 0;
}

.menu_comida .Btn:active {
  transform: translate(5px, 5px);
  transition-duration: 0.3s;
}

.cover {
  top: 0;
  position: absolute;
  background-color: #fff;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform-origin: 0;
  -ms-transform-origin: 0;
  transform-origin: 0;
  -webkit-box-shadow: 1px 1px 12px #000;
  box-shadow: 1px 1px 12px #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;

  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.cover img {
  width: 280px;
  height: 200px;
}

.informacion_comida {
  display: flex;
  flex-direction: column;
  margin-top: 5%;
  align-items: center;
}

.informacion_comida h1 {
  margin-top: 5%;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
}

.starts {
  display: flex;
  color: #fffb00;
  margin-top: 5%;
}

.fa-star {
  float: left;
}

.informacion_comida .fa-eye {
  font-size: 20px;
  color: #808080;
  margin-top: 5%;
}

.book:hover .cover {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform: rotatey(-80deg);
  -ms-transform: rotatey(-80deg);
  transform: rotatey(-80deg);
}

.quehacemos {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5%;
}

.hero-section {
  display: flex;
  min-height: 100%;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}

.carda-container {
  display: flex;
  gap: 30px;
  width: 100%;
  justify-content: center;
}

.carda {
  position: relative;
  list-style: none;
  width: 400px;
  height: 350px;
  transition: 0.3s ease;
}
.carda::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
}

.carda-background {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
  border-radius: 20px;
  background-position: center;
  filter: brightness(0.9) saturate(1) contrast(1);
  transform-origin: bottom;
  transform: scale(1) translateZ(0);
  transition: 0.3s ease;
  background-repeat: no-repeat;
  background-size: cover;
}

.carda:hover .carda-background {
  transform: scale(1.15) translateZ(0);
  background-size: cover;
}

.carda-container:hover .carda:not(:hover) {
  transform: scale(0.9);
}

.carda-container:hover > .carda:not(:hover) .carda-background,
.carda-container:hover > .carda:not(:hover) .carda-category {
  filter: brightness(0.5) saturate(0) contrast(1.2) blur(10px);
}

.content {
  top: 50%;
  left: 0;
  padding: 25px;
  position: absolute;
}

.carda-category {
  color: #fff;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 5px;
  margin-bottom: 8px;
  text-transform: uppercase;
}

.carda-heading {
  color: #fff;
  font-size: 25px;
  line-height: 1;
  text-shadow: 2px 2px 20px rgb(0, 0, 0, 0.2);
}

@keyframes slide-up {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0%);
  }
}

.container_valores {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 9%;
}
.titulo_valores {
  font-size: 30px;
  color: #000000;
  padding: 10px 50px;
  margin-bottom: 5%;
  text-align: center;
}
.titulo_valores h1 {
  border-bottom: 1px solid #ccc;
  margin-bottom: 3%;
}

.informacion_valores {
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  display: grid;
  place-items: center;
  animation: slide-up 1000ms forwards;
  text-align: center;
}

.box_valores i {
  font-size: 80px;
  color: #3586ff;
}

.box_valores h3 {
  font-size: 30px;
  margin-top: 5%;
}

.box_valores p {
  font-size: 20px;
  margin-top: 3%;
}

footer {
  position: relative;
  width: 100%;
  background: #3586ff;
  min-height: 100px;
  padding: 20px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
  z-index: -1;
}

footer .social_icon {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}

footer .social_icon li {
  list-style: none;
}

footer .social_icon li a {
  font-size: 2em;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}
footer .social_icon li a:hover {
  transform: translateY(-10px);
}

footer .wave {
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: 100px;
  background: url(/img/wave.png);
  background-size: 1000px 100px;
}

footer .wave#wave1 {
  z-index: 99;
  opacity: 1;
  bottom: 0;
  animation: animateWave 4s linear infinite;
}

footer .wave#wave2 {
  z-index: 98;
  opacity: 0.5;
  bottom: 10px;
  animation: animateWave_2 4s linear infinite;
}
footer .wave#wave3 {
  z-index: 99;
  opacity: 0.2;
  bottom: 15px;
  animation: animateWave 3s linear infinite;
}
footer .wave#wave4 {
  z-index: 98;
  opacity: 0.7;
  bottom: 20px;
  animation: animateWave_2 3s linear infinite;
}

@keyframes animateWave {
  0% {
    background-position-x: 1000px;
  }
  100% {
    background-position-x: 0px;
  }
}

@keyframes animateWave_2 {
  0% {
    background-position-x: 0px;
  }
  100% {
    background-position-x: 1000px;
  }
}

@media screen and (max-width: 600px) {
  .ham {
    display: block;
    cursor: pointer;
    position: absolute;
    top: 4px;
    right: 25px;
    transition: 0.2s 0.1s;
  }

  nav {
    flex-direction: column;
    align-items: flex-start;
    padding-top: 4px;
    padding-bottom: 4px;
    color: #000;
  }
  .enlaces-menu li a,
  .enlaces-menu .car_shooping {
    color: #000;
  }

  .logo {
    padding-left: 25px;
    max-width: 100px;
    height: 40px;
  }

  .enlaces-menu {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 92vh;
    margin: 0;
    padding: 0;
    display: none;
    opacity: 0;
    transition: opacity 5s ease-out;
    width: 100%;
    color: #000;
  }
  .enlaces-menu li {
    text-align: center;
    width: 100%;
    padding: 20px;
  }

  .container {
    top: 10%;
  }

  .titulo {
    font-size: 10px;
  }

  .encabezado {
    font-size: 13px;
    width: 100%;
  }

  .aviso_productos {
    display: none;
  }

  .uiverse {
    padding: 5px;
    margin: 5px;
    width: 30px;
    height: 10px;
    font-size: 7px;
  }

  .tooltip::before {
    height: 4px;
    width: 4px;
  }

  .share {
    margin-top: -2%;
    margin-right: 2%;
    float: right;
  }

  .btn1 {
    width: 1em;
    height: 1em;
  }

  .btn1 .instagram {
    width: 0.8em;
    height: 0.8em;
  }

  .btn1 .tooltiptext1 {
    width: 2em;
    height: 4em;
    padding: 1em;
  }

  .btn1 .tooltiptext1 .card {
    width: 2em;
    height: 2em;
  }

  .btn1 .tooltiptext1 .account {
    margin-top: 0.1em;
  }

  .btn1 .tooltiptext1 .username {
    font-size: 0.5em;
  }

  .btn1:hover .tooltiptext1 {
    transform: translateY(1.5em);
  }

  .btn2 {
    width: 1em;
    height: 1em;
  }

  .btn2 .icon-tabler-brand-whatsapp {
    width: 0.8em;
    height: 0.8em;
  }

  .btn2 .tooltiptext2 {
    width: 2em;
    height: 4em;
    padding: 1em;
  }

  .btn2 .tooltiptext2 .card {
    width: 2em;
    height: 2em;
  }

  .btn2 .tooltiptext2 .account {
    margin-top: 0.1em;
  }

  .btn2 .tooltiptext2 .username {
    font-size: 0.4em;
  }

  .btn2:hover .tooltiptext2 {
    transform: translateY(1.5em);
  }

  .btn2:hover {
    background-color: #2bd46a;
    color: #fff;
  }

  .btn3 {
    width: 1em;
    height: 1em;
  }

  .btn3 .icon-tabler-brand-facebook {
    width: 0.8em;
    height: 0.8em;
  }

  .btn3 .tooltiptext3 {
    width: 2em;
    height: 4em;
    padding: 1em;
  }

  .btn3 .tooltiptext3 .card {
    width: 2em;
    height: 2em;
  }

  .btn3 .tooltiptext3 .account {
    margin-top: 0.1em;
  }

  .btn3 .tooltiptext3 .username {
    font-size: 0.4em;
  }

  .btn3:hover .tooltiptext3 {
    transform: translateY(1.5em);
  }

  .titulo_productos {
    font-size: 14px;
  }

  .productos {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
  }

  .card_producto {
    width: 150px;
    height: 350px;
  }

  .nombre_producto {
    font-size: 6px;
    text-align: center;
  }

  .precio_producto {
    margin-top: 2%;
    font-size: 10px;
  }

  article {
    width: 120px;
    margin-top: 4%;
  }

  article img:first-child {
    width: 120px;
    height: 200px;
  }

  article img:last-child {
    width: 120px;
    height: 120px;
  }

  .c-button {
    padding: 0.4em 0.9em;
    margin-top: 10%;
  }

  .container_restaurante {
    margin-top: 10%;
  }

  .titulo_restaurante {
    font-size: 20px;
  }

  .book {
    width: 300px;
    height: 370px;
  }

  .book h1 {
    font-size: 27px;
  }

  .comidas {
    grid-template-columns: repeat(1, 1fr);
  }

  .quehacemos {
    margin-top: 10%;
  }
  .titulo_quehacemos {
    font-size: 14px;
    white-space: nowrap;
    width: 280px;
  }
  .count-products {
    top: 90.6%;
    right: 45%;
  }

  #contador-productos {
    font-size: 12px;
  }

  .titulo_productos,
  .titulo_restaurante,
  .titulo_quehacemos {
    color: #000000;
    padding: 10px 0px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 5%;
    text-align: center;
    font-size: 14px;
  }

  .hero-section {
    display: flex;
    min-height: 100%;
    align-items: center;
    justify-content: center;
    background-color: #fff;
  }

  .carda-container {
    gap: 6px;
    flex-direction: column;
  }

  .carda {
    width: 300px;
    height: 350px;
  }

  .container_valores {
    margin-top: 10%;
  }
  .titulo_valores {
    font-size: 15px;
    margin-bottom: 5%;
    text-align: center;
  }

  .informacion_valores {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 60px;
    margin: 3px;
  }

  footer {
    min-height: 50px;
    margin-top: 50%;
  }

  footer .social_icon li a {
    font-size: 1.5em;
  }
}
